body {
    background-image: url("/css/image/Sunset.jpg");
    background-size: cover;
    background-repeat: repeat-y;

    text-align: center;
    
    
}

.container {
    margin:auto;
}

#login_frame{
    width: 400px;
    height: 260px;
    padding: 13px;

    position: relative;
    left: auto;
    top:auto;
    
    margin-top: 130px;
    margin-left: 350px;

    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(240, 255, 255, 0.5);

    border-radius: 30px;
    text-align: center;
}

.label_input {
    
    width: 65px;
    height:28px;
    line-height: 28px;
    text-align: center;

    padding-top: 30px;

    position: relative;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.text_field {
    width: 278px;
    height: 28px;
    
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

form p > * {
    display: inline-block;
    vertical-align: middle;
}

#login_control {

    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    position: relative;

    display: inline-block;

}


#login_control :hover {
    color: blue;
    text-decoration: underline;

    position: relative;

}

#btn_login {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 5px 10px;

    position: relative;
}

#btn_register {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 5px 10px;

    position: relative;
}

