body {
    background-image: url("/css/image/Sunset.jpg");
    background-size: cover;
    background-repeat: repeat-y;

    text-align: center;
    
    
}

#register_frame {
    width: 400px;
    height: 260px;
    padding: 13px;

    position: relative;
    left: auto;
    top:auto;
    
    margin-top: 130px;
    margin-left: 350px;

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(240, 255, 255, 0.5);

    border-radius: 30px;
    text-align: center;
}

#btn_submit {
    background-color: #f4f4f4;
    padding: 5px 15px;
    border-radius: 10px;
}